@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    background-color: beige;
  }
  span{
    font-weight: 700;
  }
  textarea {
    width: 100%;
    height: 300px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }
  .result {
    margin-top: 20px;
    font-size: 17px;
  }
  .explain {
    margin-top: 20px;
    font-size: 15px;
  }
  a{
    color:black;
  }
  .developer{
    font-size: 12px;
  }

